<span>
    <%= link_to "Delete", [description.word, description],
    class: "mt-2 bg-gray-100 inline-block border px-2 py-1 rounded-md hover:bg-red-500 active:bg-red-600 hover:text-white active:text-white active:scale-95",
    data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
</span>