<nav class="fixed top-0 left-0 h-[48px] w-full flex justify-between items-center px-2 sm:px-16">
    <%= link_to "Back", "/",
        class: "inline-block border rounded-md px-2 py-1 hover:bg-gray-200 active:bg-gray-300 active:scale-95"
        %>
</nav>