<div class="p-2 sm:p-0 max-w-[600px] mx-auto">
    <h1 class="text-4xl">Welcome to ESL Charades</h1>
    <hr class="my-4"/>
    <p class="mb-4">Challenge your students to practice reading, describing, and guessing the right words.</p>
    <a href="/play" class="bg-blue-500 text-white px-8 py-2 rounded-md inline-block hover:bg-blue-600 active:bg-blue-700 active:scale-95">Play Now</a>
    <a href="/words" class="border px-8 py-2 rounded-md inline-block hover:bg-gray-200 active:bg-gray-300 active:scale-95">Words</a>
</div>
