<div class="p-2 py-[48px] sm:p-0 sm:py-[48px] max-w-[600px] mx-auto">
    <h1 class="text-4xl mb-4">Welcome to ESL Charades</h1>
    <p class="mb-8">Challenge your students to describe and guess words.</p>
    <a href="/play" class="bg-blue-500 text-white px-8 py-2 rounded-md inline-block hover:bg-blue-600 active:bg-blue-700 active:scale-95">Play Now</a>
    <a href="/words" class="border px-8 py-2 rounded-md inline-block hover:bg-gray-200 active:bg-gray-300 active:scale-95">Words</a>
    <hr class="my-8"/>
    <h2 class="text-2xl mb-4">How to Play</h2>
    <ol class="list-decimal list-inside">
        <li class="mb-2">Choose a student (or students) to guess the word.</li>
        <li class="mb-2">Don't let them see! Face them away from the screen or have them close their eyes.</li>
        <li class="mb-2">Choose a different student (or students) to read the word descriptions.</li>
        <li class="mb-2">Give your students some time to guess before reading the next description.</li>
        <li class="mb-2">Ran out of descriptions? Call hands to let your students make their own descriptions.</li>
    </ol>
</div>
