<%= render "back" %>
<% if @word %>
    <div class="flex flex-col justify-between">
        <p class="text-center text-5xl mt-[48px] py-16"><%= @word.word %></p>
        <% if @word.descriptions.any? %>
            <ul class="flex items-stretch overflow-x-scroll mb-4 no-scrollbar border-y border-black">
                <% @word.descriptions.each do |description| %>
                    <li class="w-full flex-shrink-0 text-5xl px-2 py-2 sm:px-16 sm:py-16 sm:text-center">
                        <%= description.description %>
                    </li>
                <% end %>
            </ul>
            <p class="text-center mb-8 text-gray-700">Scroll left and right to change descriptions</p>
        <% else %>
            <p class="text-center mb-8">There are no descriptions for this word. <%= link_to "Add descriptions", word_path(@word), 
            class: "underline underline-offset-2 text-blue-500 hover:text-blue-400 active:text-blue-700" %></p>
        <% end %>
        <p class="text-center">
            <button 
            onclick="window.location.reload()" 
            class="bg-blue-500 text-white px-8 py-2 rounded-md inline-block hover:bg-blue-600 active:bg-blue-700 active:scale-95">
                Get New Word
            </button>
        </p>
    </div>
<% else %>
    <div class="h-screen grid place-content-center px-2 sm:px-0 text-xl">
        <h1 class="text-4xl mb-4">There are no words saved!</h1>
        <p class="mb-4">Add words before you can play.</p>
        <a href="/words/new" class="underline underline-offset-2 hover:text-blue-500 active:scale-95 duration-200 ease-in-out">Add New Word</a>
    </div>
<% end%>

