<nav class="fixed top-0 left-0 h-[48px] w-full flex justify-between px-4">
    <a href="/" >Back</a>
    <% if @word %>
        <a href="/play">Get New Word</a>
    <% end%>
</nav>

<% if @word %>
    <p class="text-center text-5xl"><%= @word.word %></p>
    <ul>
        <% @word.descriptions.each do |description| %>
            <li>
                <%= description.description %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>There are no words saved!</p>
    <a href="/new">Add New Word</a>
<% end%>

