<h1>Words</h1>
<p>Here are the words available in the app.</p>
<ul>
    <% @words.each do |word| %>
        <li>
            <%= link_to word.word, word%>
        </li>
    <% end %>
</ul>

<%= link_to "New Word", new_word_path %>

<a href="/">Back</a>