<div class="p-2 py-[48px] sm:p-0 sm:py-[48px] max-w-[600px] mx-auto">
    <%= link_to "Back", "/words",
        class: "inline-block border rounded-md px-2 py-1 hover:bg-gray-200 active:bg-gray-300 active:scale-95"%>
    
    <h1 class="text-4xl mb-4 mt-8">New Word</h1>

    <%= render "form", word: @word %>

</div>