<h1>New Word</h1>

<%= form_with model: @word do |form| %>
    <div>
        <%= form.label :word %>
        <%= form.text_field :word %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end%>