<h1><%= @word.word %></h1>

<p>Welcome to the <%= @word.word %> page.</p>

<p>Later you will be able to add ways to describe the word.</p>

<ul>
    <li><%= link_to "Edit", edit_word_path(@word) %></li>
    <li><%= link_to "Delete", word_path(@word), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<a href="/words">Back</a>